* {
    box-sizing: border-box;
}

:root {
    --primary: #0cc79c;
    --secondary: rgb(245, 245, 245);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 50px;
}

.navbar-brand {
    font-size: 50px;
}


.card-header {
    background-color: var(--primary);
    
    color: blue;
}

.card-body {
    background-color: var(--secondary);
    color: rgb(9, 20, 172);
}

.container {
    margin: 100px auto;
    justify-content: space-evenly;
    display: flex;  
    
}
.card-header i {
    float: left;
    width: 30px;   
}
.card {
    box-shadow: 10px 10px 8px;
    
}