* body {
    font-family: 'Poppins', sans-serif;
}

.text-dark {
    color: darkblue;
}

.text-dark:hover {
    background-color: rgb(187, 181, 181); 
}

a {
    color: darkblue;
}

a:hover {
    background-color: lavender;
    border-radius: 15%;
    color: darkblue;
}




.card-header {
    background-color: var(--primary);
    
    color: blue;
}

.card-body {
    background-color: var(--secondary);
    color: rgb(9, 20, 172);
}

.container {
    margin: 100px auto;
    justify-content: space-evenly;
    display: flex;  
    
}
.card-header i {
    float: left;
    width: 30px;   
}
.card {
    box-shadow: 10px 10px 8px;
    
}